
.head
{
	background-color: grey;

}
.ques
{
	font-size: 30px;
	margin-bottom: -1%;
	margin-left: 25px;
}
.sub
{
	color:#fff;
	width:10%;
	padding:10px;
	padding-left: 0;
	padding-right: 0;
	border-radius: 20px;
	font-size:20px;
	margin-left: 40%;
	
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #1c8adb;
}
.options
{
	font-size: 30px;
	color: blue;
	margin-top:-25%%;
	margin-left: 2%;
}
.Next-Q
{
	margin-top:-6.5%;

	
	
	text-align: center;
	color:#fff;
	width:10%;
	padding:10px;
	padding-left: 0;
	padding-right: 0;
	border-radius: 20px;
	font-size:20px;
	margin-left: 52%;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #1c8adb;
}
.Prev-Q
{
	margin-top:-5.7%;
	text-align: center;
	color:#fff;
	width:10%;
	padding:10px;
	padding-left: 0;
	padding-right: 0;
	border-radius: 20px;
	font-size:20px;
	margin-left: 30%;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #1c8adb;


}
.answer
{
	color:#fff;
	width:15%;
		padding:10px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	border-radius: 20px;
	font-size:20px;
	margin-left: 0%;
	margin-top:-5%;
	border: none;
	outline: none;
	
	background-color: green;
}